@import "../../../_variables";

// SCSS muutujate arvestamiseks ümberkujundamisel kasutasin tehisintellekti töö kiirendamiseks.
.session {
  background-color: $light-color;
  display: flex;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-medium;
}

.left {
  flex: 1;
  min-width: 450px;
}

.left img {
  width: 100%;
  height: 100%;
}

.ticket-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $gap-small;
}

.ticket-quantity button {
  background-color: $primary-color;
  border: $border-default;
  color: $text-color-light;
  padding: 5px 10px;
  cursor: pointer;
  font-size: $font-size-default;
  border-radius: $border-radius-small;
}

.ticket-quantity input {
  width: 50px;
  text-align: center;
  font-size: $font-size-default;
  margin: 0 $gap-small;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: $border-radius-small;
}

.ticket-quantity button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: $padding-default;
  justify-content: center; 
  text-align: center;
}

.film-title {
  margin-top: 0;
  font-size: $font-size-large;
  font-weight: bold;
  text-decoration: underline;
}

.session-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.book-button {
  width: calc(100% - 20px); 
  margin-top: $gap-small;
  padding: $padding-default;
  align-self: center;
  background-color: $secondary-color;
  border: $border-default;
  border-radius: $border-radius-medium;
  color: $text-color-light;
  font-size: $font-size-default;
  cursor: pointer;
  transition: $transition-bg;
  &:hover {
    background-color: $secondary-color-hover;
  }
}

@media (max-width: $breakpoint-mobile) {
  .session {
    flex-direction: column;
    align-items: center;
  }

  .left, .right {
    width: 100%;
  }

  .left img {
    width: 100%;
    height: auto;
    border-radius: $border-radius-medium;
  }

  .right {
    padding: 16px;
    text-align: center;
  }
}