@import "../../../_variables";

// SCSS muutujate arvestamiseks ümberkujundamisel kasutasin tehisintellekti töö kiirendamiseks.
.seats-container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-medium;
  padding: $gap-default;
  margin: $margin-default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 90vh; 
  width: 100%;
  padding: $gap-default;
  box-sizing: border-box; 
}

.theater {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.seat {
  min-width: 40px;
  height: 40px; 
  margin: $gap-small;
  background-color: #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-small; 
  border-radius: $border-radius-small;
  color: $text-color-light;
}

.seat.occupied {
  background-color: $danger-color;
}

.seat.recommended {
  background-color: #5cb85c;
}

.booking-button {
    width: 100%;
    max-width: $max-width-button;
    padding: $padding-default;
    margin-top: $gap-default;
    font-size: $font-size-default;
    color: $text-color-light;
    background-color: $primary-color;
    border: $border-default;
    border-radius: $border-radius-small;
    cursor: pointer;
    outline: none;
    transition: $transition-bg;
    &:hover {
      background-color: $primary-color-hover;
    }
}

.container h2 {
    color: $text-color-light;
}

@media (max-width: $breakpoint-mobile) {
  .seat {
    min-width: 30px; 
    height: 30px;
    margin: 5px;
  }

  .booking-button {
    padding: 10px 20px; 
    font-size: 1rem;
  }
}

.ticket-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $gap-small;
}

.ticket-quantity button {
  background-color: $primary-color;
  border: $border-default;
  color: $text-color-light;
  padding: 5px 10px;
  cursor: pointer;
  font-size: $font-size-default;
  border-radius: $border-radius-small;
}

.booking-counter{
  background-color:$light-color ;
}

.ticket-quantity input {
  width: 50px;
  text-align: center;
  font-size: $font-size-default;
  margin: 0 $gap-small;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: $border-radius-small;
}

.ticket-quantity button:disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
}
