@import "../../../_variables";

// SCSS muutujate arvestamiseks ümberkujundamisel kasutasin tehisintellekti töö kiirendamiseks.
.container {
  .filter-toggle {
    text-align: center;
    margin: $margin-default;
    button {
      width: 100%;
      max-width: $max-width-container;
      padding: $padding-default;
      font-size: $font-size-default;
      color: $text-color-light;
      background-color: $primary-color;
      border: $border-default;
      border-radius: $border-radius-small;
      cursor: pointer;
      outline: none;
      transition: $transition-bg;
      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }

  .loading {
    text-align: center;
    margin-top: 50px;
    font-size: $font-size-large;
    color: $light-color;
  }

  .session-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
    gap: $gap-default;
    justify-content: center;
    padding: $gap-default;
  }

  app-session-card {
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-medium;
    overflow: hidden;
    transition: $transition-bg;
    transition: transform 0.3s ease;
    background-color: $light-color;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.toggle-button {
  margin-top: $gap-small;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    .search-container {
      flex-direction: column;
      align-items: center;
    }

    .session-cards-container {
      grid-template-columns: 1fr;
      padding: $gap-small;
    }
  }
}
